<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="css/master.css" rel="stylesheet">
    <title>Mobile Market</title>
</head>

<body>
    <header>
        <figure class="logoMM"><img src="/images/logo_Mobile_Market.jpg" alt='logo'></figure>
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Moviles</a></li>
                <li><a href="#">Accesorios</a></li>
                <li><a href="#">Servicio técnico</a></li>
                <li><a href="#">Registrate</a></li>
                <li><a href="#">Ayuda</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>

        <div class='iconos'>
            <i class="fa-solid fa-cart-shopping"></i>
            <i class="fa-solid fa-magnifying-glass"></i>
            <i class="fa-solid fa-user"></i>
        </div>

    </header>

    <main>

    </main>

    <footer>
        <ul>
            <li><a href="#">Términos y condiciones</a></li>
            <li><a href="#">Links de interés</a></li>
            <li><a href="#">Envíos</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </footer>
</body>

</html>