<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/master.css">
    <link rel="stylesheet" href="/css/productos.css">
</head>
<body>
    <header>
        <div class="logo_nav">
            <figure class="logoMM"><img src="/images/logo_Mobile_Market.jpg" alt='logo'></figure>
        </div>

        <nav>
            <ul>
                <li class = "item_nav"><a href="#">Inicio</a></li>
                <li class = "item_nav"><a href="#">Moviles</a></li>
                <li class = "item_nav"><a href="#">Accesorios</a></li>
                <li class = "item_nav"><a href="#">Servicio técnico</a></li>
                <li class = "item_nav"><a href="#">Registrate</a></li>
                <li class = "item_nav"><a href="#">Ayuda</a></li>
                <li class = "item_nav"><a href="#">Contacto</a></li>
            </ul>
        </nav>

        <div class='iconos'>
            <div class="icon_search">
                <i class="fa-solid fa-magnifying-glass">
                </i>
            </div>

            <div class="icon_shopping_cart">
                <i class="fa-solid fa-cart-shopping">
                </i>
            </div>
            
            <div class="icon_user">
                <i class="fa-solid fa-user">
                </i>
            </div>
        </div>
    </header>

    <main>
        <section>
            <article class="article-1">
                <div>
                    <img src="/images/productos/iphone13-camara.png" alt="">
                    <img src="/images/productos/iphone13-colores.png" alt="">
                    <img src="/images/productos/iphone13-diagonal.png" alt="">
                    <img src="/images/productos/iphone13-superior.png" alt="">
                </div>
            </article>
            <article class="article-2">
                <img class="img-article" src="/images/productos/iphone13-frontal.png" alt="">
            </article>
            <article class="article-3">
                <h2 class="titulo-producto"></h2>
                <p class="precio-producto"></p>
                <p>Elegí el color:</p>
                <form action="">
                    <input type="radio" name="rojo">
                    <label for="rojo">Rojo</label>
                    <input type="radio" name="blanco">
                    <label for="blanco">Blanco</label>
                    <input type="radio" name="negro">
                    <label for="negro">Negro</label>
                </form>
                <p>Elegí el almacenamiento:</p>
                <form action="">
                    <input type="radio" name="128gb">
                    <label for="128gb">4gb / 128gb</label>
                    <input type="radio" name="256gb">
                    <label for="256gb">4gb / 256gb</label>
                </form>
            </article>
            <article class="article-4">

            </article>
        </section>
    </main>

    <footer>
        <div class="link_footer">
            <p class="text_footer_informacion">Informacion</p>
            <ul class="footer_menu">
                <li>
                    <a href="#">Términos y condiciones</a>
                </li>
                <li>
                    <a href="#">¿Como comprar?</a>
                </li>
                <li>
                    <a href="#">Contacto</a>
                </li>
            </ul>
        </div>

        <div class="text_container text_footer">
            <p>Envios a todo el pais<br>proximamente envios internacionales</p>
        </div>
        
        <div class="social_networks">
            <div class="div_button_facebook">
                <a href="#">
                    <i class="fa-brands fa-square-facebook"></i>
                </a>
            </div>
            <div class="div_button_twitter">
                <a href="#">
                    <i class="fa-brands fa-square-x-twitter"></i>
                </a>
            </div>
            <div class="div_button_instagram">
                <a href="#">
                    <i class="fa-brands fa-square-instagram"></i>
                </a>
            </div>
        </div>
    </footer>
</body>
</html>