<header>
    <div class="logo_nav">
        <figure class="logoMM"><img src="/images/logo_Mobile_Market.jpg" alt='logo'></figure>
    </div>

    <nav>
        <ul>
            <li class = "item_nav"><a href="#">Inicio</a></li>
            <li class = "item_nav"><a href="#">Moviles</a></li>
            <li class = "item_nav"><a href="#">Accesorios</a></li>
            <li class = "item_nav"><a href="#">Servicio técnico</a></li>
            <li class = "item_nav"><a href="#">Registrate</a></li>
            <li class = "item_nav"><a href="#">Ayuda</a></li>
            <li class = "item_nav"><a href="#">Contacto</a></li>
        </ul>
    </nav>

    <div class='iconos'>
        <div class="icon_search">
            <i class="fa-solid fa-magnifying-glass">
            </i>
        </div>

        <div class="icon_shopping_cart">
            <i class="fa-solid fa-cart-shopping">
            </i>
        </div>
        
        <div class="icon_user">
            <i class="fa-solid fa-user">
            </i>
        </div>
    </div>

</header>