<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script> src="app.js"</script>
    <link href="css/registro.css" rel="stylesheet">
    <title>Registro</title>
</head>

<body>
    <header>
        <div class="logo_nav">
            <figure class="logoMM"><img src="/images/logo_Mobile_Market.jpg" alt='logo'></figure>
        </div>

        <nav>
            <ul>
                <li class="item_nav"><a href="#">Inicio</a></li>
                <li class="item_nav"><a href="#">Moviles</a></li>
                <li class="item_nav"><a href="#">Accesorios</a></li>
                <li class="item_nav"><a href="#">Servicio técnico</a></li>
                <li class="item_nav"><a href="#">Registrate</a></li>
                <li class="item_nav"><a href="#">Ayuda</a></li>
                <li class="item_nav"><a href="#">Contacto</a></li>
            </ul>
        </nav>

        <div class='iconos'>
            <div class="icon_search">
                <i class="fa-solid fa-magnifying-glass">
                </i>
            </div>

            <div class="icon_shopping_cart">
                <i class="fa-solid fa-cart-shopping">
                </i>
            </div>

            <div class="icon_user">
                <i class="fa-solid fa-user">
                </i>
            </div>
        </div>

    </header>




    <main>
        
        <div class="container">
            <div class="form-content">
            <h1 id="title">Registro</h1>
            <br>
            <form >
                <div class="input-group">
                    <div class="input-field" id="nameImput">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" placeholder="Nombre">
                    </div>
                    
                    <div class="input-field">
                        <i class="fa-solid fa-envelope"></i>
                        <input type="email" placeholder="Correo Electrónico">
                    </div>
                    
                    <div class="input-field">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" placeholder="Contraseña">
                    </div>
                    
                    <div class="input-field">
                        <i class="fa-solid fa-unlock-keyhole"></i>
                        <input type="password" placeholder="Confirmar Contraseña">
                    </div>

                    <p>¿Ya tenés una cuenta? <a href="#">"Ingresa aquí"</a></p>
                </div>
                
                <div class="btn-field">
                    <button id="signUp" type="button">Cancelar</button>
                    <button id="signIn" type="button" class="disable">Registrarse</button>

                </div>

            </form>

        </div>

    </main>






    <footer>
        <div class="link_footer">
            <p class="text_footer_informacion">Informacion</p>
            <ul class="footer_menu">
                <li>
                    <a href="#">Términos y condiciones</a>
                </li>
                <li>
                    <a href="#">¿Como comprar?</a>
                </li>
                <li>
                    <a href="#">Contacto</a>
                </li>
            </ul>
        </div>

        <div class="text_container text_footer">
            <p>Envios a todo el pais<br>proximamente envios internacionales</p>
        </div>

        <div class="social_networks">
            <div class="div_button_facebook">
                <a href="#">
                    <i class="fa-brands fa-square-facebook"></i>
                </a>
            </div>
            <div class="div_button_twitter">
                <a href="#">
                    <i class="fa-brands fa-square-x-twitter"></i>
                </a>
            </div>
            <div class="div_button_instagram">
                <a href="#">
                    <i class="fa-brands fa-square-instagram"></i>
                </a>
            </div>
        </div>
    </footer>
</body>

</html>